
#map {
	width: 100%;
	height: 100%;
}

#expanddiv > ul > li:nth-child(1){
	display: none;
}

#hello {
	color: red;
}

a:hover{
	color: blue;
	text-decoration: underline;
}

.popUpContent.scroll{
	border-bottom: 2px solid black;
	margin-bottom: 5px;
}